<table>
    <tr>
      <td>
        <!-- Embed the SVG image -->
        <img src="./assets/world.svg" alt="World Map" />
      </td>
      <td>
        <!-- Display country facts in the second column -->
        <h2>Country Facts</h2>
        <table>
          <tr>
            <th>Country Name</th>
            <td></td>
          </tr>
          <tr>
            <th>Country Capital</th>
            <td></td>
          </tr>
          <tr>
            <th>Country Region</th>
            <td></td>
          </tr>
          <tr>
            <th>Income Level</th>
            <td></td>
          </tr>
          <!-- Add rows for additional country properties -->
        </table>
      </td>
    </tr>
  </table>